.FilterSettings {
  min-width: 400px;
  width: 400px;
  border-color: #f2f4f7;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  &__header {
    background: #f2f4f7;
    border-radius: 2px 2px 0 0;
    padding: 0 0 0 15px;
    border-bottom: 2px solid #e7e8ec;

    .text {
      padding: 18px 6px 18px;
      line-height: 17px;
      height: 17px;
      color: #000;
      font-size: 14px;
      box-sizing: content-box;
    }

    .gray {
      color: #939393;
    }
  }


  &__wrapper {
    padding: 18px 22px 18px;
    background: #FFF;
  }

  &__group {

    margin-bottom: 10px;
  }

  &__title {
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
  }

  &__footer {
    text-align: right;
    padding: 18px 22px 18px;
    background: #f2f4f7;
    border-radius: 0 0 2px 2px;
  }

  &__start {
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5e81a8;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
  }

  &__age-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__sex-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
