doctype html
html(lang="en")
	head
		meta(charset="UTF-8")

		title My test task
		link(href='css/style.css', rel='stylesheet')
		link(href='css/bootstrap.min.css', rel='stylesheet')
		script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places")
	body
		.container
			.row
				.form-on-center
					form(method="POST" id="deliveryFrom")
						h1 Оформление заказа
						.form-group
							label Email
							input.text-input(type="text" name="email" placeholder="Напр. vasya@mail.ru")
							.error-message
						.form-group
							.right-from
								.fake-img#map(style="opacity:0")
							label Адрес
							input.text-input(type="text" id="address" name="address" placeholder="Напр. ул. Линейная 20а, кв. 10")
							.error-message
							span.muted-text улица, дом, корпус, квартира
						.form-group
							label Город
							input.text-input(type="text" id="city" name="city")
							.error-message
						.form-group
							label Индекс
							input.post-index.text-input(type="text" id="postIndex" name="index")
							.error-message
						.form-group
							label Способ доставки
							.radio-group
								input(type="radio" checked="checked" id="d1" name="deliveryType" value="1") 
								label(for="d1")
									span
										Курьер
								input(type="radio" id="d2" name="deliveryType" value="3") 
								label(for="d2")
									span
										Самовывоз
								input(type="radio" id="d3" name="deliveryType" value="4") 
								label(for="d3")
									span
										Почта россии
						input(type="submit" class="primary-button mt45" value="Оформить заказ")
		script(src="js/main.js")

