grey = #dfdfdf
border-radius = 3px


bg-grey()
	background-color #d3d3d3
	color #0f0f0f
bg-white()
	background-color #f5f5f5
	color #000000
inputBorder()	
	border: 1px solid grey
	border-radius: border-radius 


header-padding()
	padding-top 30px

h1
	margin 0
	font-size: 30pt

body
	background-color: #f7f7f7
	font-family: Arial, sans-serif

form
	float:left

.form-group
	margin-top: 27px

.form-group .muted-text
	display: block
	font-size 13pt
	margin-top: 15px
	color: #b2b2b2

.form-group label
	font-size: 13pt
	text-transform:uppercase
	display:block
	margin-bottom: 12px
	font-weight:600


.text-input
	inputBorder()
	font-size: 13pt
	padding-left: 15px
	padding-right: 15px
	padding-top: 7px
	padding-bottom: 7px
	width: 350px

.post-index
	width: 130px

.radio-group span
	padding-left: 12px

.primary-button
	border-radius: 3px
	background-color: #2979ff
	text-transform: uppercase
	color: #FFFFFF
	width: 350px
	font-size: 13pt
	font-weight: bold
	border: none
	text-align: center
	padding-top: 10px
	padding-bottom: 10px

.mt45
	margin-top:45px

.right-from
	float:right

.fake-img
	width: 120px
	height: 120px
	border-radius: 3px
	background-color: #dfdfdf

.form-on-center
	margin: 0 auto
	width: 500px

.form-on-center form
	width: 500px
	margin-bottom: 50px

input[type="radio"]
	display:none

input[type="radio"] + label
	cursor: pointer

input[type="radio"] + label:before
	content: ""
	display: inline-block
	height: 20px
	width: 20px
	margin: 0 0px -4px 0
	background-image: url('/img/checkbox.png')
	background-repeat: no-repeat

input[type="radio"] + label:before 
	background-position: 0px -20px

input[type="radio"]:checked + label:before 
	background-position: 0px 0px

.has-error label
	color: #990000

.has-error input
	border-left-color: #990000
	border-top-color: #990000
	border-bottom-color: #990000
	border-right-color: #990000
	color: #990000

.has-error .error-message
	display: block

.error-message
	display: none
	color: #990000


.has-success label
	color: #009900

.has-success input
	border-left-color: #009900
	border-top-color: #009900
	border-bottom-color: #009900
	border-right-color: #009900
	color: #009900