.GroupItem {
  &__wrapper {
    cursor:pointer;
    display: block;
    margin: 0 25px;
    line-height: 0;
    zoom: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:hover {
      border-bottom: 1px solid #e7e8ec;
      margin: -1px 0 0;
      padding: 0 25px;
      border-top: 1px solid #e7e8ec;
      background-color: #fafbfc;
      text-decoration: none;
      .GroupItem__content {
        border-bottom: none;
      }
    }
  }

  &:last-child {
    .GroupItem__wrapper {
      border-bottom-color: #FFF;
      .GroupItem__content {
        border-bottom-color: #FFF;
      }
    }
  }

  &__content {
    height: 34px;
    padding: 12px 0;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e8ec;
  }

  &__photo-wrapper {
    overflow: hidden;
    width: 34px;
    height: 34px;
    border-radius: 50%;

    img {
      max-width: 100%;
    }

  }

  &__name {
    color: #2a5885;
    overflow: hidden;
    width: 300px;
    margin: 0 10px;
    line-height: normal;
  }

  &__fake-image {
    width: 34px;
    height: 34px;
    background: #CCC;
  }
}