.Stat {

  width: 400px;
  border-radius: 2px;
  border-color: #f2f4f7;
  border-style: solid;
  border-width: 1px;

  .header {
    background: #f2f4f7;
    border-radius: 2px 2px 0 0;
    padding: 10px 15px;
    border-bottom: 2px solid #e7e8ec;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper {
    padding: 10px 15px;
  }

  .stat {
    margin-bottom: 5px;
  }

  .hidden {
    display: none;
  }

  .help {
    text-align: center;
    padding: 10px;
  }

  .btn {
    padding: 7px 16px 8px;
    margin: 0;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Open Sans,Helvetica Neue,sans-serif;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: #5e81a8;
    color: #fff;
    border: 0;
    border-radius: 2px;
    box-sizing: border-box;
  }

}